<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />

<title>{{ page.title | strip_html }} - envyz GROUND</title>

<link rel="icon" type="image/x-icon" href="/pages/envyz710/reference/assets/image/favicon.ico" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Exo+2|Noto+Sans+KR|Fira+Code" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" />
<link rel="stylesheet" href="/pages/envyz710/reference/assets/vendor/codemirror/codemirror.css" />
<link rel="stylesheet" href="/pages/envyz710/reference/assets/vendor/codemirror/theme/dracula.css" />
<link rel="stylesheet" href="/pages/envyz710/reference/assets/css/app.css" />
</head>